body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 150px;
}

img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #cdb4db;
    color: whitesmoke;
    border-bottom: 10px solid #ffafcc;
    border-radius: 5px;
    border-style: ridge;
    border-color: #a2d2ff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    animation: pulse 5s infinite;
    text-decoration: underline;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

@keyframes pulse {
  0% {
    background-color: #a2d2ff;
  }
  100% {
    background-color: #ffafcc;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/